# Question 1

In [7]:
a = 0  # Global variable `a` is initialized to 0.

def b():  # Defines the function `b()`.
    global a  # Declares that the global `a` will be modified inside `b()`.
    a = c(a)  # Calls the function `c(a)`, and assigns the result back to global `a`.

def c(a):  # Defines the function `c(a)` to take one argument.
    return a + 2  # Returns the input `a` incremented by 2.


b()  # First call to `b()`, modifies global `a`.
b()  # Second call to `b()`, modifies global `a`.
b()  # Third call to `b()`, modifies global `a`.

print(a)  # Prints the final value of `a`.

6

# Question 2
Function fileLength

In [4]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")


fileLength('idterm.py')
fileLength('fileLength.txt')

File idterm.py not found.

123

# Question 3

In [13]:
# Marsupial class Definiton
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch

# Kangaroo class Definition
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y 
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

# Kangaroo class 
k = Kangaroo(0, 0)
print(k)

# Adding items to the kangaroo's pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

# Make the kangaroo jump
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4 
Function Collatz

In [16]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:  # If x is odd
        collatz(3 * x + 1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5
Recursive Method Binary

In [19]:
def binary(n):
    if n == 0:
        print(0, end='')  #if n is 0, print 0
    elif n == 1:
        print(1, end='')  #if n is 1, print 1
    else:
        binary(n // 2)
        print(n % 2, end='')  # Print the remainder


binary(0)
print() 
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

# Question 6 
Heading Parser

In [22]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_tag = None  # Track the current HTML tag

    def handle_starttag(self, tag, attrs):
        # Tracking if the current tag is a heading tag (e.g. h1, h2, etc.)
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_tag = tag

    def handle_endtag(self, tag):
        # Reseting the current tag when a heading tag ends
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_tag = None

    def handle_data(self, data):
        if self.current_tag:
            indent_level = int(self.current_tag[1]) - 1
            print(" " * indent_level + data)


infile = open('w3c.txt', 'r') 
content = infile.read()
infile.close()


hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Recursive Function Webdir

In [27]:
import urllib.request
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for (attr, value) in attrs:
                if attr == 'href':
                    self.links.append(value)

    def get_links(self):
        return self.links

def webdir(url, depth, indent):
    if depth < 0:
        return

    
    print(" " * indent + url)

    try:
        # Fetch the web page
        response = urllib.request.urlopen(url)
        content = response.read().decode('utf-8')
    except Exception as e:
        print(f"Failed to retrieve {url}: {e}")
        return

    # Parse the web page to find links
    parser = LinkParser()
    parser.feed(content)
    links = parser.get_links()

    # Visit each link (recursively), decreasing depth and increasing indentation
    for link in links:
        if link.startswith('http'):  # Only process full URLs
            webdir(link, depth - 1, indent + 1)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Failed to retrieve http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

# Question 8 
SQL Queries

In [35]:
import sqlite3
import pandas as pd

# Create an SQLite database connection (or connect to an existing database)
conn = sqlite3.connect(':memory:')  # Use in-memory database for this example

# Create a cursor object
cur = conn.cursor()

# Create the weather_data table
cur.execute('''
    CREATE TABLE weather_data (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

# Insert data into the weather_data table
weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cur.executemany('INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)', weather_data)

# Commit the changes
conn.commit()

# a) All the temperature data
df_a = pd.read_sql_query("SELECT Temperature FROM weather_data", conn)
print("a) All the temperature data")
print(df_a)

# b) All the cities, but without repetition
df_b = pd.read_sql_query("SELECT DISTINCT City FROM weather_data", conn)
print("\nb) All the cities, but without repetition")
print(df_b)

# c) All the records for India
df_c = pd.read_sql_query("SELECT * FROM weather_data WHERE Country = 'India'", conn)
print("\nc) All the records for India")
print(df_c)

# d) All the Fall records
df_d = pd.read_sql_query("SELECT * FROM weather_data WHERE Season = 'Fall'", conn)
print("\nd) All the Fall records")
print(df_d)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
df_e = pd.read_sql_query("SELECT City, Country, Season FROM weather_data WHERE Rainfall BETWEEN 200 AND 400", conn)
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
print(df_e)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
df_f = pd.read_sql_query("SELECT City, Country FROM weather_data WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC", conn)
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
print(df_f)

# g) The total annual rainfall for Cairo
df_g = pd.read_sql_query("SELECT SUM(Rainfall) AS Total_Rainfall FROM weather_data WHERE City = 'Cairo'", conn)
print("\ng) The total annual rainfall for Cairo")
print(df_g)

# h) The total rainfall for each season
df_h = pd.read_sql_query("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather_data GROUP BY Season", conn)
print("\nh) The total rainfall for each season")
print(df_h)

# Close the connection
conn.close()

a) All the temperature data
    Temperature
0          24.8
1          28.4
2          27.9
3          27.6
4           4.2
5           8.3
6          15.7
7          10.4
8          13.6
9          20.7
10         27.7
11         22.2

b) All the cities, but without repetition
     City
0  Mumbai
1  London
2   Cairo

c) All the records for India
     City Country  Season  Temperature  Rainfall
0  Mumbai   India  Winter         24.8       5.9
1  Mumbai   India  Spring         28.4      16.2
2  Mumbai   India  Summer         27.9    1549.4
3  Mumbai   India    Fall         27.6     346.0

d) All the Fall records
     City         Country Season  Temperature  Rainfall
0  Mumbai           India   Fall         27.6     346.0
1  London  United Kingdom   Fall         10.4     218.5
2   Cairo           Egypt   Fall         22.2       4.5

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
     City         Country  Season
0  Mumbai           India    Fall
1  London  United Kingdom  Winter
2  London  United Kingdom    Fall

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
     City Country
0   Cairo   Egypt
1  Mumbai   India

g) The total annual rainfall for Cairo
   Total_Rainfall
0            27.6

h) The total rainfall for each season
   Season  Total_Rainfall
0    Fall           569.0
1  Spring           192.3
2  Summer          1706.5
3  Winter           230.1

# Question 9

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# a)
uppercase_words = [word.upper() for word in words]

# b) 
lowercase_words = [word.lower() for word in words]

# c) 
word_lengths = [len(word) for word in words]

# d)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

# e)
words_4_or_more = [word for word in words if len(word) >= 4]

print("a)", uppercase_words)
print("b)", lowercase_words)
print("c)", word_lengths)
print("d)", word_info)
print("e)", words_4_or_more)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']